################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BotConnectorTestApp/bin/Debug
/BotConnectorTestApp/obj/Debug
/BotCustomConnectorSvc/bin
/BotCustomConnectorSvc/Content
/BotCustomConnectorSvc/fonts
/BotCustomConnectorSvc/obj/Debug
/BotCustomConnectorSvc/Scripts
/BotCustomConnectorSvc/Views
/HelloWorldBot/bin
/HelloWorldBot/obj/Debug
/BotConnectorTestApp/obj/Debug
/JsonExtractionRule/bin/Debug
/JsonExtractionRule/obj
/WebAndLoadTestProject1/bin/Debug
/WebAndLoadTestProject1/obj/Debug
