################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BotTesting/v15
/.vs/MyFirstProject/v15
/.vs/WebAndLoadTestProject1/v15
/BotConnectorTestApp/bin/Debug
/BotConnectorTestApp/obj/Debug
/BotCustomConnectorSvc/bin
/BotCustomConnectorSvc/obj/Debug
/HelloWorldBot/bin
/HelloWorldBot/obj/Debug
/JsonExtractionRule/bin/Debug
/JsonExtractionRule/obj/Debug
/packages
/TestResults
/WebAndLoadTestProject1/bin/Debug
/WebAndLoadTestProject1/obj
/BotConnectorTestApp/obj/Release
/BotCustomConnectorSvc/obj/Release
/HelloWorldBot/obj/Release
/JsonExtractionRule/obj/Release
